# OS
.DS_Store
Thumbs.db

# Python/Poetry
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.dist/
.build/
.pytest_cache/
.coverage*
.cache/
.venv/

# Notebooks
.ipynb_checkpoints/
*.nbconvert.ipynb

# Tools
.ruff_cache/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Jupyter/nbconvert outputs
*.html
!docs/clustering.html

# VS Code
.vscode/*
!.vscode/settings.json

# Logs
*.log
